{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <!--        <form>-->
        <!--            {{ form }}-->
        <!--        </form>-->
    </div>
</div>

{{ form.non_field_errors }}

<form method="POST" action="{% url 'movie_edit' movie.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Tytuł:</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="{{ form.year.id_for_label }}">Rok produkcji:</label>
        {{ form.year }}
    </div>
    <div class="form-group">
        <label for="{{ form.runtime.id_for_label }}">Czas trwania(minuty):</label>
        {{ form.runtime }}
    </div>
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">Opis:</label>
        {{ form.description }}
    </div>
    <button type="submit" class="btn btn-default">Zapisz</button>
</form>

{% endblock %}