{% extends 'index.html' %}
{% block content %}
{% load movie_tags %}
<div class="row">
    <div class="col-xs-12" style="margin-bottom: 20px;">
        <a href="{% url 'genre_add' %}" class="btn btn-primary">
            Dodaj gatunek
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <tr>
                <th>Typ</th>
                <th>Ustawienia:</th>
            </tr>
            {% for genre in genres %}
            <tr>
                <td>{{genre.name}}</td>
                <td>
                    <a href="{% url 'genre_delete' genre.id %}"
                       class="btn btn-danger btn-xs">Usuń
                    </a>
                    <a href="{% url 'genre_edit' genre.id %}"
                       class="btn btn-primary btn-xs">
                        Edytuj
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if items.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if items.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.previous_page_number }}">Prev</a>
                </li>
                {% endif %}
                {% for num in genres.paginator.page_range %}
                {% if genres.number == num %}
                <li class="page-item">
                    <a class="page-link">
                        <strong>{{ num }}</strong>
                    </a>
                </li>
                {% elif num > genres.number|add:'-3' and num < genres.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page= {{ num }}">
                        {{ num }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                <li>
                    <a href="">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.paginator.num_pages }}">
                        {{ items.paginator.num_pages }}
                    </a>
                </li>
                {% if items.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.next_page_number }}">
                        Next
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>
</div>
<!--{{ pagination.total_records }}-->
<!--{{ pagination.total_pages }}-->
<!--{{ pagination.current_page }}-->
<!--{{ pagination.has_next_page }}-->
{% endblock %}

